@using raptorSlot.Controllers
@using raptorSlot.Util
@using raptorSlot.ViewModels.Shared

@model raptorSlot.Views.Shared.Components.UserPostForm.UserPostFormInputViewModel

@using (Html.BeginForm(Model.ActionName, Model.ControllerName, FormMethod.Post))
{
    @if(!string.IsNullOrEmpty(Model.Id.ToString()))
    {
        <input type="hidden" name="@nameof(UserCreateViewModel.Id)" value="@Model.Id" />
    }

    <label for="@nameof(UserCreateViewModel.Username)">Username:</label>
    <input type="text" id="@nameof(UserCreateViewModel.Username)" name="@nameof(UserCreateViewModel.Username)" />

    <label for="@nameof(UserCreateViewModel.Email)">Email:</label>
    <input type="text" id="@nameof(UserCreateViewModel.Email)" name="@nameof(UserCreateViewModel.Email)" />

    <label for="@nameof(UserCreateViewModel.Password)">Password:</label>
    <input type="password" id="@nameof(UserCreateViewModel.Password)" name="@nameof(UserCreateViewModel.Password)" />

    <label for="@nameof(UserCreateViewModel.RepeatPassword)">Repeat Password:</label>
    <input type="password" id="@nameof(UserCreateViewModel.RepeatPassword)" name="@nameof(UserCreateViewModel.RepeatPassword)" />

    <button type="submit">@Model.ButtonText</button>
    @Html.ValidationSummary()
}
