@using raptorSlot.Services.Games
@{
    ViewBag.Title = "Roulette";
}

<h2>Roulette</h2>

<div>
    <div x-data="window.rouletteComponent(@((int)BetType.STRAIGHT_UP))">
        <div class="mb-3">
            <label class="form-label">Bet Type:</label>
            <select x-model.number="betType" x-on:change="selectedNumbers = []; numbersInput = ''" class="form-select">
                <option value="@((int)BetType.STRAIGHT_UP)">Straight Up</option>
                <option value="@((int)BetType.SPLIT)">Split</option>
                <option value="@((int)BetType.STREET)">Street</option>
                <option value="@((int)BetType.RED_OR_BLACK)">Red or Black</option>
                <option value="@((int)BetType.ODD_OR_EVEN)">Odd or Even</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Wager Amount:</label>
            <div class="row align-items-center">
                <div class="col-lg">
                    <input type="number" x-model.number="wagerAmount" class="form-control" />
                </div>
                
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="premiumTokens" x-model="usePremiumTokens" />
                        <label class="form-check-label" for="premiumTokens">
                            Use premium tokens.
                        </label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="d-inline-block">
            <table class="table table-borderless m-0">
                <tr>
                    <td rowspan="3" class="p-1">
                        <button
                            class="btn text-white fw-bold d-flex align-items-center justify-content-center rounded"
                            :class="[
                                getButtonClass(0, 'green'),
                                isSelected(0) ? 'border border-warning border-3' : ''
                            ]"
                            x-on:click="selectNumber(0)"
                            style="height: 162px; width: 50px;">
                            0
                        </button>
                    </td>
                    <template x-for="(num, index) in rouletteGrid().filter((_, i) => i % 3 === 0)" :key="num.value">
                        <td class="p-1">
                            <button
                                class="btn text-white fw-bold rounded"
                                :class="[
                                    getButtonClass(num.value, num.color),
                                    isSelected(num.value) ? 'border border-warning border-3' : ''
                                ]"
                                style="width: 50px; height: 50px;"
                                x-text="num.value"
                                x-on:click="selectNumber(num.value)">
                            </button>
                        </td>
                    </template>
                </tr>
                <tr>
                    <template x-for="(num, index) in rouletteGrid().filter((_, i) => i % 3 === 1)" :key="num.value">
                        <td class="p-1">
                            <button
                                class="btn text-white fw-bold rounded"
                                :class="[
                                    getButtonClass(num.value, num.color),
                                    isSelected(num.value) ? 'border border-warning border-3' : ''
                                ]"
                                style="width: 50px; height: 50px;"
                                x-text="num.value"
                                x-on:click="selectNumber(num.value)">
                            </button>
                        </td>
                    </template>
                </tr>
                <tr>
                    <template x-for="(num, index) in rouletteGrid().filter((_, i) => i % 3 === 2)" :key="num.value">
                        <td class="p-1">
                            <button
                                class="btn text-white fw-bold rounded"
                                :class="[
                                    getButtonClass(num.value, num.color),
                                    isSelected(num.value) ? 'border border-warning border-3' : ''
                                ]"
                                style="width: 50px; height: 50px;"
                                x-text="num.value"
                                x-on:click="selectNumber(num.value)">
                            </button>
                        </td>
                    </template>
                </tr>
            </table>
        </div>

        <div class="mt-3">
            <button x-on:click="play" x-bind:disabled="loading" class="btn mt-3" :class="usePremiumTokens ? 'btn-warning' : 'btn-primary'">
                <span x-show="!loading">Play</span>
                <span x-show="loading">Playing...</span>
            </button>
        </div>

        <div class="mt-3">
            @if(TempData["GameResult"] != null) {
                <div class="alert @(TempData["GameResult"]?.ToString() == "w" ? "alert-success" : "alert-danger") alert-dismissible fade show" role="alert">
                    @TempData["GameResultMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        </div>
        
        <div id="result" class="mt-3">
            <div x-show="error" class="alert alert-danger" x-text="error"></div>
        </div>
    </div>
</div>

<script src="~/js/generated/Roulette.js"></script>
<script src="//unpkg.com/alpinejs"></script>
