@using raptorSlot.Services.Games
@{
    ViewBag.Title = "Roulette";
}

<h2>Roulette</h2>

<div>
    <h3>Test Roulette Play</h3>
<div x-data="window.rouletteComponent(@((int)BetType.STRAIGHT_UP))">
    <div>
        <label>Bet Type:</label>
        <select x-model.number="betType">
            <option value="@((int)BetType.STRAIGHT_UP)">@BetType.STRAIGHT_UP</option>
            <option value="@((int)BetType.SPLIT)">@BetType.SPLIT</option>
            <option value="@((int)BetType.STREET)">@BetType.STREET</option>
            <option value="@((int)BetType.RED_OR_BLACK)">@BetType.RED_OR_BLACK</option>
            <option value="@((int)BetType.ODD_OR_EVEN)">@BetType.ODD_OR_EVEN</option>
        </select>
    </div>
    
    <div>
        <label>Number(s) (comma-separated for SPLIT/STREET):</label>
        <input type="text" x-model="numbersInput" placeholder="e.g., 5 or 1,2" />
    </div>
    
    <div>
        <label>Wager Amount:</label>
        <input type="number" x-model.number="wagerAmount" />
    </div>
    
    <button x-on:click="play" x-bind:disabled="loading">
        <span x-show="!loading">Play</span>
        <span x-show="loading">Playing...</span>
    </button>
    
    <div id="result" style="margin-top: 20px;">
        <template x-if="error">
            <span style="color: red;" x-text="error"></span>
        </template>
        <template x-if="!error && result">
            <pre x-text="JSON.stringify(result, null, 2)"></pre>
        </template>
    </div>
</div>
</div>
<script src="//unpkg.com/alpinejs" defer></script>
<script src="~/js/generated/Roulette.js"></script>
