@model IEnumerable<CRUD.Models.Osoba>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.waga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wzrostCM)
        </th>
        <td>
            <b>@Html.DisplayNameFor(model => model.bmi)</b>
        </td>
        <td>
            <b>@Html.DisplayNameFor(model => model.InterpretacjaBMI)</b>
        </td>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.waga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wzrostCM)
        </td>
        <td>
            @item.bmi
        </td>
        <td>
            @item.InterpretacjaBMI
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
